In [1]:
# imports
import csv
import pandas as pd
from sklearn.linear_model import LinearRegression, LogisticRegression
import sklearn.model_selection as ms
from sklearn.metrics import f1_score
pd.options.display.max_rows = 200

# Cleaning the Data

Describe what we did to clean the data

In [2]:
# load data
application_train_x = pd.read_csv(r"C:\Users\KZ301W\Python\Credit Scoring\application_train.csv")
application_train_x = application_train_x.iloc[0:5000]

In [3]:
application_train_x.dtypes

SK_ID_CURR                        int64
TARGET                            int64
NAME_CONTRACT_TYPE               object
CODE_GENDER                      object
FLAG_OWN_CAR                     object
FLAG_OWN_REALTY                  object
CNT_CHILDREN                      int64
AMT_INCOME_TOTAL                float64
AMT_CREDIT                      float64
AMT_ANNUITY                     float64
AMT_GOODS_PRICE                 float64
NAME_TYPE_SUITE                  object
NAME_INCOME_TYPE                 object
NAME_EDUCATION_TYPE              object
NAME_FAMILY_STATUS               object
NAME_HOUSING_TYPE                object
REGION_POPULATION_RELATIVE      float64
DAYS_BIRTH                        int64
DAYS_EMPLOYED                     int64
DAYS_REGISTRATION               float64
DAYS_ID_PUBLISH                   int64
OWN_CAR_AGE                     float64
FLAG_MOBIL                        int64
FLAG_EMP_PHONE                    int64
FLAG_WORK_PHONE                   int64
FLAG_CONT_MOBILE                  int64
FLAG_PHONE                        int64
FLAG_EMAIL                        int64
OCCUPATION_TYPE                  object
CNT_FAM_MEMBERS                 float64
REGION_RATING_CLIENT              int64
REGION_RATING_CLIENT_W_CITY       int64
WEEKDAY_APPR_PROCESS_START       object
HOUR_APPR_PROCESS_START           int64
REG_REGION_NOT_LIVE_REGION        int64
REG_REGION_NOT_WORK_REGION        int64
LIVE_REGION_NOT_WORK_REGION       int64
REG_CITY_NOT_LIVE_CITY            int64
REG_CITY_NOT_WORK_CITY            int64
LIVE_CITY_NOT_WORK_CITY           int64
ORGANIZATION_TYPE                object
EXT_SOURCE_1                    float64
EXT_SOURCE_2                    float64
EXT_SOURCE_3                    float64
APARTMENTS_AVG                  float64
BASEMENTAREA_AVG                float64
YEARS_BEGINEXPLUATATION_AVG     float64
YEARS_BUILD_AVG                 float64
COMMONAREA_AVG                  float64
ELEVATORS_AVG                   float64
ENTRANCES_AVG                   float64
FLOORSMAX_AVG                   float64
FLOORSMIN_AVG                   float64
LANDAREA_AVG                    float64
LIVINGAPARTMENTS_AVG            float64
LIVINGAREA_AVG                  float64
NONLIVINGAPARTMENTS_AVG         float64
NONLIVINGAREA_AVG               float64
APARTMENTS_MODE                 float64
BASEMENTAREA_MODE               float64
YEARS_BEGINEXPLUATATION_MODE    float64
YEARS_BUILD_MODE                float64
COMMONAREA_MODE                 float64
ELEVATORS_MODE                  float64
ENTRANCES_MODE                  float64
FLOORSMAX_MODE                  float64
FLOORSMIN_MODE                  float64
LANDAREA_MODE                   float64
LIVINGAPARTMENTS_MODE           float64
LIVINGAREA_MODE                 float64
NONLIVINGAPARTMENTS_MODE        float64
NONLIVINGAREA_MODE              float64
APARTMENTS_MEDI                 float64
BASEMENTAREA_MEDI               float64
YEARS_BEGINEXPLUATATION_MEDI    float64
YEARS_BUILD_MEDI                float64
COMMONAREA_MEDI                 float64
ELEVATORS_MEDI                  float64
ENTRANCES_MEDI                  float64
FLOORSMAX_MEDI                  float64
FLOORSMIN_MEDI                  float64
LANDAREA_MEDI                   float64
LIVINGAPARTMENTS_MEDI           float64
LIVINGAREA_MEDI                 float64
NONLIVINGAPARTMENTS_MEDI        float64
NONLIVINGAREA_MEDI              float64
FONDKAPREMONT_MODE               object
HOUSETYPE_MODE                   object
TOTALAREA_MODE                  float64
WALLSMATERIAL_MODE               object
EMERGENCYSTATE_MODE              object
OBS_30_CNT_SOCIAL_CIRCLE        float64
DEF_30_CNT_SOCIAL_CIRCLE        float64
OBS_60_CNT_SOCIAL_CIRCLE        float64
DEF_60_CNT_SOCIAL_CIRCLE        float64
DAYS_LAST_PHONE_CHANGE          float64
FLAG_DOCUMENT_2                   int64
FLAG_DOCUMENT_3                   int64
FLAG_DOCUMENT_4                   int64
FLAG_DOCUMENT_5                   int64
FLAG_DOCUMENT_6                   int64
FLAG_DOCUMENT_7                   int64
FLAG_DOCUMENT_8                   int64
FLAG_DOCUMENT_9                   int64
FLAG_DOCUMENT_10                  int64
FLAG_DOCUMENT_11                  int64
FLAG_DOCUMENT_12                  int64
FLAG_DOCUMENT_13                  int64
FLAG_DOCUMENT_14                  int64
FLAG_DOCUMENT_15                  int64
FLAG_DOCUMENT_16                  int64
FLAG_DOCUMENT_17                  int64
FLAG_DOCUMENT_18                  int64
FLAG_DOCUMENT_19                  int64
FLAG_DOCUMENT_20                  int64
FLAG_DOCUMENT_21                  int64
AMT_REQ_CREDIT_BUREAU_HOUR      float64
AMT_REQ_CREDIT_BUREAU_DAY       float64
AMT_REQ_CREDIT_BUREAU_WEEK      float64
AMT_REQ_CREDIT_BUREAU_MON       float64
AMT_REQ_CREDIT_BUREAU_QRT       float64
AMT_REQ_CREDIT_BUREAU_YEAR      float64
dtype: object

In [4]:
application_train_x.head(10)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
5,100008,0,Cash loans,M,N,Y,0,99000.0,490495.5,27517.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
6,100009,0,Cash loans,F,Y,Y,1,171000.0,1560726.0,41301.0,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,2.0
7,100010,0,Cash loans,M,Y,Y,0,360000.0,1530000.0,42075.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
8,100011,0,Cash loans,F,N,Y,0,112500.0,1019610.0,33826.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
9,100012,0,Revolving loans,M,N,Y,0,135000.0,405000.0,20250.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
application_train_x.shape

(5000, 122)

In [6]:
# Identify number of missing values in different columns
application_train_x.isnull().sum()

SK_ID_CURR                         0
TARGET                             0
NAME_CONTRACT_TYPE                 0
CODE_GENDER                        0
FLAG_OWN_CAR                       0
FLAG_OWN_REALTY                    0
CNT_CHILDREN                       0
AMT_INCOME_TOTAL                   0
AMT_CREDIT                         0
AMT_ANNUITY                        0
AMT_GOODS_PRICE                    1
NAME_TYPE_SUITE                   20
NAME_INCOME_TYPE                   0
NAME_EDUCATION_TYPE                0
NAME_FAMILY_STATUS                 0
NAME_HOUSING_TYPE                  0
REGION_POPULATION_RELATIVE         0
DAYS_BIRTH                         0
DAYS_EMPLOYED                      0
DAYS_REGISTRATION                  0
DAYS_ID_PUBLISH                    0
OWN_CAR_AGE                     3308
FLAG_MOBIL                         0
FLAG_EMP_PHONE                     0
FLAG_WORK_PHONE                    0
FLAG_CONT_MOBILE                   0
FLAG_PHONE                         0
FLAG_EMAIL                         0
OCCUPATION_TYPE                 1545
CNT_FAM_MEMBERS                    0
REGION_RATING_CLIENT               0
REGION_RATING_CLIENT_W_CITY        0
WEEKDAY_APPR_PROCESS_START         0
HOUR_APPR_PROCESS_START            0
REG_REGION_NOT_LIVE_REGION         0
REG_REGION_NOT_WORK_REGION         0
LIVE_REGION_NOT_WORK_REGION        0
REG_CITY_NOT_LIVE_CITY             0
REG_CITY_NOT_WORK_CITY             0
LIVE_CITY_NOT_WORK_CITY            0
ORGANIZATION_TYPE                  0
EXT_SOURCE_1                    2827
EXT_SOURCE_2                      16
EXT_SOURCE_3                     975
APARTMENTS_AVG                  2487
BASEMENTAREA_AVG                2865
YEARS_BEGINEXPLUATATION_AVG     2400
YEARS_BUILD_AVG                 3256
COMMONAREA_AVG                  3431
ELEVATORS_AVG                   2601
ENTRANCES_AVG                   2453
FLOORSMAX_AVG                   2424
FLOORSMIN_AVG                   3340
LANDAREA_AVG                    2900
LIVINGAPARTMENTS_AVG            3366
LIVINGAREA_AVG                  2462
NONLIVINGAPARTMENTS_AVG         3418
NONLIVINGAREA_AVG               2677
APARTMENTS_MODE                 2487
BASEMENTAREA_MODE               2865
YEARS_BEGINEXPLUATATION_MODE    2400
YEARS_BUILD_MODE                3256
COMMONAREA_MODE                 3431
ELEVATORS_MODE                  2601
ENTRANCES_MODE                  2453
FLOORSMAX_MODE                  2424
FLOORSMIN_MODE                  3340
LANDAREA_MODE                   2900
LIVINGAPARTMENTS_MODE           3366
LIVINGAREA_MODE                 2462
NONLIVINGAPARTMENTS_MODE        3418
NONLIVINGAREA_MODE              2677
APARTMENTS_MEDI                 2487
BASEMENTAREA_MEDI               2865
YEARS_BEGINEXPLUATATION_MEDI    2400
YEARS_BUILD_MEDI                3256
COMMONAREA_MEDI                 3431
ELEVATORS_MEDI                  2601
ENTRANCES_MEDI                  2453
FLOORSMAX_MEDI                  2424
FLOORSMIN_MEDI                  3340
LANDAREA_MEDI                   2900
LIVINGAPARTMENTS_MEDI           3366
LIVINGAREA_MEDI                 2462
NONLIVINGAPARTMENTS_MEDI        3418
NONLIVINGAREA_MEDI              2677
FONDKAPREMONT_MODE              3351
HOUSETYPE_MODE                  2448
TOTALAREA_MODE                  2367
WALLSMATERIAL_MODE              2483
EMERGENCYSTATE_MODE             2324
OBS_30_CNT_SOCIAL_CIRCLE          23
DEF_30_CNT_SOCIAL_CIRCLE          23
OBS_60_CNT_SOCIAL_CIRCLE          23
DEF_60_CNT_SOCIAL_CIRCLE          23
DAYS_LAST_PHONE_CHANGE             0
FLAG_DOCUMENT_2                    0
FLAG_DOCUMENT_3                    0
FLAG_DOCUMENT_4                    0
FLAG_DOCUMENT_5                    0
FLAG_DOCUMENT_6                    0
FLAG_DOCUMENT_7                    0
FLAG_DOCUMENT_8                    0
FLAG_DOCUMENT_9                    0
FLAG_DOCUMENT_10                   0
FLAG_DOCUMENT_11                   0
FLAG_DOCUMENT_12                   0
FLAG_DOCUMENT_13                   0
FLAG_DOCUMENT_14                   0
FLAG_DOCUMENT_15                   0
FLAG_DOCUMENT_16                   0
FLAG_DOCUMENT_17                   0
FLAG_DOCUMENT_18                   0
FLAG_DOCUMENT_19                   0
FLAG_DOCUMENT_20                   0
FLAG_DOCUMENT_21                   0
AMT_REQ_CREDIT_BUREAU_HOUR       675
AMT_REQ_CREDIT_BUREAU_DAY        675
AMT_REQ_CREDIT_BUREAU_WEEK       675
AMT_REQ_CREDIT_BUREAU_MON        675
AMT_REQ_CREDIT_BUREAU_QRT        675
AMT_REQ_CREDIT_BUREAU_YEAR       675
dtype: int64

As a rule of thumb, we will drop the rows with <10% missing values, and impute the rest.
The categories with <10% missing values (that have any missing values) are:

['AMT_ANNUITY', 'AMT_GOODS_PRICE', 'NAME_TYPE_SUITE', 'CNT_FAM_MEMBERS', 'EXT_SOURCE_2', 'OBS_30_CNT_SOCIAL_CIRCLE', 'DEF_30_CNT_SOCIAL_CIRCLE', 'OBS_60_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE', 'DAYS_LAST_PHONE_CHANGE'] 

For missing categorical variables, we assign a unique 'missing' label. Missing categorical columns include:

['OCCUPATION_TYPE','FONDKAPREMONT_MODE', 'HOUSETYPE_MODE', 'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE']


For missing numerical variables, we use linear regression on the non-missing fields to impute new values. Missing numerical columns include: 

['OWN_CAR_AGE','EXT_SOURCE_1', 'EXT_SOURCE_3', 'APARTMENTS_AVG', 'BASEMENTAREA_AVG',	'YEARS_BEGINEXPLUATATION_AVG',	'YEARS_BUILD_AVG',	'COMMONAREA_AVG',	'ELEVATORS_AVG',	'ENTRANCES_AVG',	'FLOORSMAX_AVG',	'FLOORSMIN_AVG',	'LANDAREA_AVG',	'LIVINGAPARTMENTS_AVG',	'LIVINGAREA_AVG',	'NONLIVINGAPARTMENTS_AVG',	'NONLIVINGAREA_AVG',	'APARTMENTS_MODE',	'BASEMENTAREA_MODE',	'YEARS_BEGINEXPLUATATION_MODE',	'YEARS_BUILD_MODE',	'COMMONAREA_MODE',	'ELEVATORS_MODE',	'ENTRANCES_MODE',	'FLOORSMAX_MODE',	'FLOORSMIN_MODE',	'LANDAREA_MODE',	'LIVINGAPARTMENTS_MODE',	'LIVINGAREA_MODE',	'NONLIVINGAPARTMENTS_MODE',	'NONLIVINGAREA_MODE',	'APARTMENTS_MEDI',	'BASEMENTAREA_MEDI',	'YEARS_BEGINEXPLUATATION_MEDI',	'YEARS_BUILD_MEDI',	'COMMONAREA_MEDI',	'ELEVATORS_MEDI',	'ENTRANCES_MEDI',	'FLOORSMAX_MEDI',	'FLOORSMIN_MEDI',	'LANDAREA_MEDI','LIVINGAPARTMENTS_MEDI','LIVINGAREA_MEDI','NONLIVINGAPARTMENTS_MEDI',	'NONLIVINGAREA_MEDI', 'TOTALAREA_MODE', 'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR']

In [7]:
# drop rows with missing values in the columns specified
application_train_x = application_train_x.dropna(subset=['AMT_ANNUITY', 'AMT_GOODS_PRICE', 'NAME_TYPE_SUITE', 'CNT_FAM_MEMBERS', 'EXT_SOURCE_2', 'OBS_30_CNT_SOCIAL_CIRCLE', 'DEF_30_CNT_SOCIAL_CIRCLE', 'OBS_60_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE', 'DAYS_LAST_PHONE_CHANGE'])
application_train_x.shape

(4941, 122)

In [8]:
# fill missing categorical variables with new label 'Missing'
categorical_missing_vars = ['OCCUPATION_TYPE','FONDKAPREMONT_MODE', 'HOUSETYPE_MODE', 'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE']
for category in categorical_missing_vars:
    application_train_x[category] = application_train_x[category].fillna('Missing')

In [9]:
# convert binary categorical to 0-1 (only for those w/o missing values)
# CODE_GENDER: 0-M, 1-F
# FLAG_OWN_CAR: 0-N, 1-Y
# FLAG_OWN_REALTY: 0-N, 1-Y
def genderToCode(gender):
    if gender == 'M' or gender == 0:
        return 0
    return 1

def yesNo(val):
    if val == 'N' or val == 0:
        return 0
    return 1

application_train_x['CODE_GENDER'] = application_train_x['CODE_GENDER'].apply(genderToCode)
application_train_x['FLAG_OWN_CAR'] = application_train_x['FLAG_OWN_CAR'].apply(yesNo)
application_train_x['FLAG_OWN_REALTY'] = application_train_x['FLAG_OWN_REALTY'].apply(yesNo)
application_train_x.head(10)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,0,0,1,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,1,0,0,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,0,1,1,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,1,0,1,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,0,0,1,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
5,100008,0,Cash loans,0,0,1,0,99000.0,490495.5,27517.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
6,100009,0,Cash loans,1,1,1,1,171000.0,1560726.0,41301.0,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,2.0
7,100010,0,Cash loans,0,1,1,0,360000.0,1530000.0,42075.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
8,100011,0,Cash loans,1,0,1,0,112500.0,1019610.0,33826.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
9,100012,0,Revolving loans,0,0,1,0,135000.0,405000.0,20250.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# replace non-binary categorical variables with one-hot encodings
categorical_vars = ['NAME_CONTRACT_TYPE', 'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'OCCUPATION_TYPE', 'WEEKDAY_APPR_PROCESS_START', 'FONDKAPREMONT_MODE', 'HOUSETYPE_MODE', 'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE', 'ORGANIZATION_TYPE']
for category in categorical_vars:
    application_train_x = pd.concat([application_train_x, pd.get_dummies(application_train_x[category], drop_first=True)], axis=1)
    application_train_x.drop([category], axis=1, inplace=True)
application_train_x.shape

(4941, 230)

In [11]:
# Impute missing numerical variables by regression on the remaining
missing_numerical = ['OWN_CAR_AGE','EXT_SOURCE_1', 'EXT_SOURCE_3', 'APARTMENTS_AVG', 'BASEMENTAREA_AVG','YEARS_BEGINEXPLUATATION_AVG', 'YEARS_BUILD_AVG', 'COMMONAREA_AVG', 'ELEVATORS_AVG', 'ENTRANCES_AVG', 'FLOORSMAX_AVG', 'FLOORSMIN_AVG', 'LANDAREA_AVG', 'LIVINGAPARTMENTS_AVG', 'LIVINGAREA_AVG', 'NONLIVINGAPARTMENTS_AVG', 'NONLIVINGAREA_AVG', 'APARTMENTS_MODE', 'BASEMENTAREA_MODE', 'YEARS_BEGINEXPLUATATION_MODE', 'YEARS_BUILD_MODE', 'COMMONAREA_MODE', 'ELEVATORS_MODE', 'ENTRANCES_MODE', 'FLOORSMAX_MODE', 'FLOORSMIN_MODE', 'LANDAREA_MODE', 'LIVINGAPARTMENTS_MODE', 'LIVINGAREA_MODE', 'NONLIVINGAPARTMENTS_MODE', 'NONLIVINGAREA_MODE', 'APARTMENTS_MEDI', 'BASEMENTAREA_MEDI', 'YEARS_BEGINEXPLUATATION_MEDI', 'YEARS_BUILD_MEDI', 'COMMONAREA_MEDI', 'ELEVATORS_MEDI', 'ENTRANCES_MEDI', 'FLOORSMAX_MEDI', 'FLOORSMIN_MEDI', 'LANDAREA_MEDI', 'LIVINGAPARTMENTS_MEDI', 'LIVINGAREA_MEDI', 'NONLIVINGAPARTMENTS_MEDI', 'NONLIVINGAREA_MEDI', 'TOTALAREA_MODE', 'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR']
copy = application_train_x.copy()
without_missing = application_train_x.copy()
without_missing = without_missing.dropna(subset=missing_numerical)
without_missing = without_missing.drop(missing_numerical, axis=1)
XtoPredict = application_train_x.drop(missing_numerical, axis=1)
linreg = LinearRegression()
for col in missing_numerical:
    y = copy.dropna(subset=missing_numerical)[col]
    linreg.fit(without_missing, y)
    predicted = pd.Series(linreg.predict(XtoPredict))
    application_train_x[col] = application_train_x[col].fillna(predicted)
application_train_x[['OWN_CAR_AGE']].head(10)

   OWN_CAR_AGE
0    29.333524
1    16.677235
2    26.000000
3    14.128217
4    39.345290
5    10.327583
6    17.000000
7     8.000000
8    41.041718
9    37.056465

In [12]:
application_train_x.isnull().sum()

SK_ID_CURR                       0
TARGET                           0
CODE_GENDER                      0
FLAG_OWN_CAR                     0
FLAG_OWN_REALTY                  0
CNT_CHILDREN                     0
AMT_INCOME_TOTAL                 0
AMT_CREDIT                       0
AMT_ANNUITY                      0
AMT_GOODS_PRICE                  0
REGION_POPULATION_RELATIVE       0
DAYS_BIRTH                       0
DAYS_EMPLOYED                    0
DAYS_REGISTRATION                0
DAYS_ID_PUBLISH                  0
OWN_CAR_AGE                     38
FLAG_MOBIL                       0
FLAG_EMP_PHONE                   0
FLAG_WORK_PHONE                  0
FLAG_CONT_MOBILE                 0
FLAG_PHONE                       0
FLAG_EMAIL                       0
CNT_FAM_MEMBERS                  0
REGION_RATING_CLIENT             0
REGION_RATING_CLIENT_W_CITY      0
HOUR_APPR_PROCESS_START          0
REG_REGION_NOT_LIVE_REGION       0
REG_REGION_NOT_WORK_REGION       0
LIVE_REGION_NOT_WORK_REGION      0
REG_CITY_NOT_LIVE_CITY           0
REG_CITY_NOT_WORK_CITY           0
LIVE_CITY_NOT_WORK_CITY          0
EXT_SOURCE_1                    29
EXT_SOURCE_2                     0
EXT_SOURCE_3                    14
APARTMENTS_AVG                  29
BASEMENTAREA_AVG                35
YEARS_BEGINEXPLUATATION_AVG     27
YEARS_BUILD_AVG                 36
COMMONAREA_AVG                  38
ELEVATORS_AVG                   31
ENTRANCES_AVG                   28
FLOORSMAX_AVG                   28
FLOORSMIN_AVG                   38
LANDAREA_AVG                    35
LIVINGAPARTMENTS_AVG            38
LIVINGAREA_AVG                  28
NONLIVINGAPARTMENTS_AVG         38
NONLIVINGAREA_AVG               31
APARTMENTS_MODE                 29
BASEMENTAREA_MODE               35
YEARS_BEGINEXPLUATATION_MODE    27
YEARS_BUILD_MODE                36
COMMONAREA_MODE                 38
ELEVATORS_MODE                  31
ENTRANCES_MODE                  28
FLOORSMAX_MODE                  28
FLOORSMIN_MODE                  38
LANDAREA_MODE                   35
LIVINGAPARTMENTS_MODE           38
LIVINGAREA_MODE                 28
NONLIVINGAPARTMENTS_MODE        38
NONLIVINGAREA_MODE              31
APARTMENTS_MEDI                 29
BASEMENTAREA_MEDI               35
YEARS_BEGINEXPLUATATION_MEDI    27
YEARS_BUILD_MEDI                36
COMMONAREA_MEDI                 38
ELEVATORS_MEDI                  31
ENTRANCES_MEDI                  28
FLOORSMAX_MEDI                  28
FLOORSMIN_MEDI                  38
LANDAREA_MEDI                   35
LIVINGAPARTMENTS_MEDI           38
LIVINGAREA_MEDI                 28
NONLIVINGAPARTMENTS_MEDI        38
NONLIVINGAREA_MEDI              31
TOTALAREA_MODE                  27
OBS_30_CNT_SOCIAL_CIRCLE         0
DEF_30_CNT_SOCIAL_CIRCLE         0
OBS_60_CNT_SOCIAL_CIRCLE         0
DEF_60_CNT_SOCIAL_CIRCLE         0
DAYS_LAST_PHONE_CHANGE           0
FLAG_DOCUMENT_2                  0
FLAG_DOCUMENT_3                  0
FLAG_DOCUMENT_4                  0
FLAG_DOCUMENT_5                  0
FLAG_DOCUMENT_6                  0
FLAG_DOCUMENT_7                  0
FLAG_DOCUMENT_8                  0
FLAG_DOCUMENT_9                  0
FLAG_DOCUMENT_10                 0
FLAG_DOCUMENT_11                 0
FLAG_DOCUMENT_12                 0
FLAG_DOCUMENT_13                 0
FLAG_DOCUMENT_14                 0
FLAG_DOCUMENT_15                 0
FLAG_DOCUMENT_16                 0
FLAG_DOCUMENT_17                 0
FLAG_DOCUMENT_18                 0
                                ..
Office apartment                 0
Rented apartment                 0
With parents                     0
Cleaning staff                   0
Cooking staff                    0
Core staff                       0
Drivers                          0
HR staff                         0
High skill tech staff            0
IT staff                         0
Laborers                         0
Low-skill Laborers               0
Managers                         0
Medicine staff                   0
Missing                          0
Private service staff            0
Realty agents                    0
Sales staff                      0
Secretaries                      0
Security staff                   0
Waiters/barmen staff             0
MONDAY                           0
SATURDAY                         0
SUNDAY                           0
THURSDAY                         0
TUESDAY                          0
WEDNESDAY                        0
not specified                    0
org spec account                 0
reg oper account                 0
reg oper spec account            0
block of flats                   0
specific housing                 0
terraced house                   0
Missing                          0
Mixed                            0
Monolithic                       0
Others                           0
Panel                            0
Stone, brick                     0
Wooden                           0
No                               0
Yes                              0
Agriculture                      0
Bank                             0
Business Entity Type 1           0
Business Entity Type 2           0
Business Entity Type 3           0
Cleaning                         0
Construction                     0
Culture                          0
Electricity                      0
Emergency                        0
Government                       0
Hotel                            0
Housing                          0
Industry: type 1                 0
Industry: type 10                0
Industry: type 11                0
Industry: type 12                0
Industry: type 13                0
Industry: type 2                 0
Industry: type 3                 0
Industry: type 4                 0
Industry: type 5                 0
Industry: type 6                 0
Industry: type 7                 0
Industry: type 8                 0
Industry: type 9                 0
Insurance                        0
Kindergarten                     0
Legal Services                   0
Medicine                         0
Military                         0
Mobile                           0
Other                            0
Police                           0
Postal                           0
Realtor                          0
Religion                         0
Restaurant                       0
School                           0
Security                         0
Security Ministries              0
Self-employed                    0
Services                         0
Telecom                          0
Trade: type 1                    0
Trade: type 2                    0
Trade: type 3                    0
Trade: type 4                    0
Trade: type 5                    0
Trade: type 6                    0
Trade: type 7                    0
Transport: type 1                0
Transport: type 2                0
Transport: type 3                0
Transport: type 4                0
University                       0
XNA                              0
Length: 230, dtype: int64

In [13]:
application_train_x.shape

(4941, 230)

In [14]:
# move target to a separate column, and drop it from x variables
application_train_x = application_train_x.dropna()
application_train_y = application_train_x['TARGET']
application_train_x = application_train_x.drop(columns="TARGET")

In [15]:
application_train_y.head(10)

0    1
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
Name: TARGET, dtype: int64

In [16]:
application_train_y.describe()

count    4883.000000
mean        0.078026
std         0.268240
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000
Name: TARGET, dtype: float64

In [17]:
linreg.fit(application_train_x, application_train_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [18]:
# train/test split
X_train, X_test, y_train, y_test = ms.train_test_split(application_train_x, application_train_y, test_size=0.2, random_state = 195)
print(X_train.shape)
print(X_test.shape)

(3906, 229)
(977, 229)

In [19]:
reg = LogisticRegression(class_weight='balanced').fit(X_train, y_train);
print(f'Train accuracy: {reg.score(X_train, y_train)}, Test accuracy: {reg.score(X_test, y_test)}')
print(f'Train f1: {f1_score(y_train, reg.predict(X_train))}, Test f1: {f1_score(y_test, reg.predict(X_test))}')

Train accuracy: 0.6072708653353814, Test accuracy: 0.586489252814739
Train f1: 0.2027027027027027, Test f1: 0.1512605042016807

In [20]:
pred = reg.predict(X_test)
pd.Series(pred).describe()

count    977.000000
mean       0.414534
std        0.492894
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        1.000000
dtype: float64

In [21]:
from sklearn.ensemble import GradientBoostingClassifier
gbc = GradientBoostingClassifier()
gbc.fit(X_train, y_train)
print(f'Train accuracy: {gbc.score(X_train, y_train)}, Test accuracy: {gbc.score(X_test, y_test)}')
print(f'Train f1: {f1_score(y_train, gbc.predict(X_train))}, Test f1: {f1_score(y_test, gbc.predict(X_test))}')

Train accuracy: 0.9395801331285202, Test accuracy: 0.9232343909928352
Train f1: 0.38541666666666663, Test f1: 0.025974025974025976

In [22]:
from sklearn.svm import SVC
clf_3 = SVC(kernel='rbf', 
            class_weight='balanced', # penalize
            probability=True)
clf_3.fit(X_train, y_train)
print(f'Train accuracy: {clf_3.score(X_train, y_train)}, Test accuracy: {clf_3.score(X_test, y_test)}')
print(f'Train f1: {f1_score(y_train, clf_3.predict(X_train))}, Test f1: {f1_score(y_test, clf_3.predict(X_test))}')

Train accuracy: 1.0, Test accuracy: 0.9273285568065507
Train f1: 1.0, Test f1: 0.0

C:\Anaconda3\x86\lib\site-packages\sklearn\metrics\classification.py:1135: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)

In [23]:
X_test.shape

(977, 229)

In [25]:
pd.Series(clf_3.predict(X_test)).describe()

count    977.0
mean       0.0
std        0.0
min        0.0
25%        0.0
50%        0.0
75%        0.0
max        0.0
dtype: float64